body{background-color: #292D33;
<!--background-image: url("https://geekmindblog.files.wordpress.com/2015/01/cropped-capa_blog22.png");->
	padding: 10px 10px 10px 50px;
	
}
h1{color: green;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	}
h2{color: red;
	font-family: verdana;
	text-shadow: 3px 3px 3px yellow;
	}
h3{
	text-shadow:1px 1px 2px #3e3e3e;
	text-align: center;
	}
p{
}
iframe{
	box-shadow: 0px 0px 5px;
	margin: 10px 10px 10px 10px;
}
input[name=ideias] {    
	padding: 0px 0px 0px 2px;
	margin: 0px 0px 0px 10px;
}
#logo{
	box-shadow: 2px 2px 2px;
	float: center;
}
#corpo{
	width: 100%;
	
}
#prim{
	background: #e3e3e3;
	float: left;
	width: 49.9%;
	min-height: 400px;
	box-shadow: 0px 2px 2px;
}
#supertech{
	background: #3e3e3e;
	float: right;
	width: 49.9%;
	min-height: 400px;
	box-shadow: 2px 2px 2px;   
}
#AppleStore{
	box-shadow: 2px 2px 2px;
	vertical-align: center;
}
#miolo{
	color: #A9ABAD;
}
#miolo h3{
	text-shadow: 1px 1px 1px blue;
	text-align: center;
}
#miolo img{
	box-shadow: 0px 0px 5px;
	margin: 10px 10px 10px 10px;
}
footer{
	background-color: #222223;
	padding: 0px 10px;
	text-align: justify;
	box-shadow: 2px 2px 2px;

}
